<!DOCTYPE html>
<html>
  <head>
    <title>Core</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body onLoad='document.forms[0].submit()'>
    <%= form_tag secure_requests_path %>
  </body>
</html>
